button {
  width: 10rem;
  height: 2.9rem;
  background-color: green;
  outline: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 2px;
}


.panel-parent {
  position: relative;
}
.panel {
  border: 1px solid #ddd;
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 120%;
  left: -290%;
}

.panel::before {
  content: '';
  border: 1px solid #ddd;
  border-bottom: none;
  border-right: none;
  left: 47%;
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: -.6rem;
  transform: rotate(45deg);
  background-color: white;
}

a {
	text-decoration: none;
	color: black;
}

.icon {
  color: green;
}

ul {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
}